@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    font-family: "Manrope", sans-serif;
}


.coluna_menu{
    height: 130vh;
    width: 20vw;
    background-color: rgba(171, 206, 250, 0.788);
    position: absolute;
    top: 0vh;
    left: 0vw;
    position: fixed;
    backdrop-filter: blur(5px);
}

.pesquisa{
    height: 12.5vh;
    width: 80vw;
    background-color: rgba(171, 206, 250, 0.788);
    margin: -2vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0vh;
    left: 20.9vw;
    position: fixed;
    backdrop-filter: blur(5px);
}

.perfil{
    position: relative;
    top:2vh;
    left: 2vw;
    color: #080076;
}

.painel{
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding-left: 2vh;
    font-weight: 500;
    background-color: #080076;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:10vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
    
}

.agendamento{
    border: none;
    outline: none;
    cursor: pointer;
    color:#080076;
    padding-left: 2vh;
    font-weight: 500;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:15vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.portal{
    border: none;
    outline: none;
    cursor: pointer;
    color:#080076;
    padding-left: 2vh;
    font-weight: 500;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:20vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.salas{
    border: none;
    outline: none;
    cursor: pointer;
    color:#080076;
    padding-left: 2vh;
    font-weight: 500;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:25vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.relatorios{
    border: none;
    outline: none;
    cursor: pointer;
    color:#080076;
    padding-left: 2vh;
    font-weight: 500;
    background-color: #08007615;
    height: 5vh;
    width: 16vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:30vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.logout{
    border: none;
    outline: none;
    cursor: pointer;
    color:#080076;
    padding-left: 2vh;
    font-weight: 500;
    background-color: #08007615;
    height: 8vh;
    width: 8vw;
    display: flex;
    align-items: center;
    position: relative;
    left: 1.5vw;
    top:50vh;
    border-radius: 2vh;
    font-size: 2vh;
    letter-spacing: 1px;
    gap:1vh
}

.avatar{
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url(assets/avatar.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    top: 1vh;
    left: 76vw;
    height: 6vh;
    width: 6vh;
    border-radius: 3vw;
}

.pesquisar{
    height: 5vh;
    max-width:36vh;
    padding-left: 1vh;
    border-color: gray;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 3vh;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    font-style: italic;
    order:2;
    position: relative;
    top:1vh;
    left: 47vw;
}

 .settings{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    font-style: italic;
    order:2;
    position: relative;
    top:1vh;
    left:66.5vw;
}

.notifications{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    font-style: italic;
    order:2;
    position: relative;
    top:1vh;
    left:67vw; 
}

.alerta{
    background-color: #28236688;
    border-radius: 4vh;
    position: relative;
    top: 9.3vh;
    left: 20.5vw;
    height: 25vh;
    width: 77vw;
}

.alerta-titulo{
    color: white;
    background-color: #080076;
    border-radius: 3vh;
    position: relative;
    font-size: xx-large;
    font-style: italic;
    padding-left: 1vw;
    top: 3vh;
    left: 1vw;
    height: 8vh;
    width: 11.5vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.alerta-texto{
    color: white;
    background-color: transparent;
    border-radius: 3vh;
    position: relative;
    font-size: larger;
    font-style: italic;
    line-height: 6vh;
    top: 7vh;
    left: 5vw;
    height: 5vh;
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
}


.indicadores{
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    width: 76.8vw;
    position: absolute;
    top:38vh;
    left: 21vw;
}

.topo {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    height: 20vh;
    width: 71.7vw;
    top: 2vh;
    left: 1vw;
    padding-left:3vw ;
    background: white;
    border-radius: 1vh;
}

/* RESUMO */
.resumo{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top:24vh;
    width:74.7vw;
    left: 2.2vh;
    gap:2vw;
    display: flex;
    
}

.card{
    flex: 1;
    display: flex;
    background: white;
    padding: 2vh;
    gap: 1vw;
    border-radius: 1vh;
}

.card span{
    font-size: 1.5vh;
}

.card strong{
    font-size: 4vh;
}

/* STATUS BARRA */
.card.ocupado{ border-left: 0.5vw solid #ff4d4d; }
.card.livre{ border-left: 0.5vw solid #00c853; }
.card.manutencao{ border-left: 0.5vw solid #ff9800; }

.tabela-corpo{
    position: absolute;
    top:32.5vh;
    left: 1vw;
    width: auto;
    height: auto;
}

/* TABELA */
.tabela{
    padding: 2vh;
    width: 74.6vw;
    margin: 3vh auto;
    border-collapse: collapse;
    background: rgb(255, 255, 255);
    border-radius: 1vh;
    overflow: hidden;
}

.tabela thead{
    background: #080060;
}

.tabela th{
    padding: 1.5vh 1vw;
    color: white;
    font-size: 2.2vh; /* maior para TV */
    text-align: left;
}

.tabela td{
    padding: 1.5vh 1vw;
    font-size: 2.5vh; /* leitura à distância */
}

/* destaque sala */
.tabela td:first-child{
    font-size: 3vh;
    font-weight: bold;
}

/* STATUS */
td.ocupado{
    color: #ff4d4d;
    font-weight: bold;
}

td.livre{
    color: #00c853;
    font-weight: bold;
}

td.manutencao{
    color: #ff9800;
    font-weight: bold;
}

.relogio-container{
    background-color: #ffffff;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border-style: double;
    position: absolute;
    top:4vh;
    left: 61vw;
}